@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  display: flex;
  justify-content: center;
  align-item: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  display: flex;
  justify-content: center;
  align-item: center;
  padding-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Navbar.css */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-item:hover {
  text-decoration: underline;
}
